mat-grid-tile {
    background: lightblue;
  }
  .container {
    height: 100%;
  }
  .content-card {
    max-width: 600px;
    align-self: center;
    margin: 20px auto;
  }

  .content-card:last-child {
    margin-bottom: 200px;
  }

  .content-card > *:not(:last-child) {
    margin-bottom: 32px;
    margin-left: 10px;
  }